:host {
  display: inline-block;
}

button {
  cursor: pointer;
  appearance: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 2em 4em;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 1em;
  box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.5) inset, 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
}

button::after {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  aspect-ratio: 1;
  height: auto;
  background-image: radial-gradient(circle farthest-side at 50% 50%, rgba(255, 255, 255, 0.25) 0, rgba(255, 255, 255, 0) 100%);
  transform: translate(calc(-50% + var(--gradient-x, 50%)), calc(-50% + var(--gradient-y, 25%)));
  transition: transform 250ms ease;
}

span {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

button:active {
  box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.5) inset, 0 0.1em 0.25em rgba(0, 0, 0, 0.5);
  transform: translateY(0.1em);
}
